body {
  background-color: #e6ecf0;

}

/* Navbar */

.navbar {
	margin-bottom: 1rem;
}

.navbar a {
	font-weight: bold;
	color: white;
}

.navbar a:hover {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.navbar-brand > img {
	display: inline-block;
	width: 100px;
	margin-bottom: 2px;
	margin-right: 5px;
	border-radius: 2px;
}

ul.nav.navbar-nav li {
	margin: 0 0.5rem;
}

.onboarding > .navbar {
	background-color: #a1c1f4;

}
